/tmp
/out-tsc
/out
/src/rules/generated/*
/src/rules/*.xml
/src/*.xml
/src/rule
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
dist/
files.ts
.vscode/*
/src/test_harness.ts
/src/files.ts
/src/ScanManager.ts
/src/ScanResult.ts
/src/ScanRule.ts
/src/ScanRuleProperties.ts
/src/results.txt
/src/test-harness.ts
/test/*
/src/rules/list.md